<form method="post" action="{{ path('contrato_delete', {'id': contrato.id}) }}" onsubmit="return confirm('{{ 'Usted desea eliminar este elemento'|trans }}');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contrato.id) }}">
    <button class="btn btn-sm btn-danger">{% trans %}Eliminar{% endtrans %}</button>
</form>