<a class="btn-sm btn-primary" href="{{ path('contrato_new') }}">{% trans %}Adicionar{% endtrans %}</a>
<a class="btn-sm btn-primary" href="#">{% trans %}Buscar{% endtrans %}</a>
<a class="btn-sm btn-primary" href="#">{% trans %}Modificar{% endtrans %}</a>
<a class="btn-sm btn-primary" href="{{ path('contrato_index') }}">{% trans %}Listar{% endtrans %}</a>
<a class="btn-sm btn-primary" href="{{ path('factura_index') }}">{% trans %}Ejecutar{% endtrans %}</a>
