<div id="div_factura_botones">
    {% if estado == "Activo" %}
        <a class="btn-sm btn-primary" href="{{ path('factura_new',{'id_contrato':id_contrato}) }}">{% trans %}Adicionar{% endtrans %} {% trans %}Factura{% endtrans %}</a>
    {% else %}
        <button type="button" class="btn-sm btn-primary border" data-toggle="modal" data-target="#modal_acceso_denegado_adicionar_factura">
            {% trans %}Adicionar{% endtrans %} {% trans %}Factura{% endtrans %}
        </button>
    {% endif %}
     <button type="button" class="btn-sm btn-primary border" data-toggle="modal" data-target="#modal_buscar_contrato">
        {% trans %}Buscar{% endtrans %} {% trans %}Factura{% endtrans %}
    </button>
    <button type="button" class="btn-sm btn-primary border" data-toggle="modal" data-target="#modal_modificar_contrato">
        {% trans %}Modificar{% endtrans %} {% trans %}Factura{% endtrans %}
    </button>
    <a class="btn-sm btn-primary" href="{{ path('factura_index',{'id_contrato':id_contrato}) }}">{% trans %}Listar{% endtrans %} {% trans %}Facturas{% endtrans %}</a>
</div>