<div id="div_contrato_botones">
    <a class="btn-sm btn-primary" href="{{ path('suplemento_new',{'id_contrato':id_contrato}) }}">{% trans %}Adicionar{% endtrans %} {% trans %}Suplemento{% endtrans %}</a>
    <button type="button" class="btn-sm btn-primary border" data-toggle="modal" data-target="#modal_buscar_contrato">
        {% trans %}Buscar{% endtrans %} {% trans %}Suplemento{% endtrans %}
    </button>
    <button type="button" class="btn-sm btn-primary border" data-toggle="modal" data-target="#modal_modificar_contrato">
        {% trans %}Modificar{% endtrans %} {% trans %}Suplemento{% endtrans %}
    </button>
    <a class="btn-sm btn-primary" href="{{ path('suplemento_index',{'id_contrato':id_contrato}) }}">{% trans %}Listar{% endtrans %} {% trans %}Suplemento{% endtrans %}</a>
</div>