<div class="col-lg-6">
    <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#modal_nuevo_proveedor">
        {% trans %}Nuevo{% endtrans %} {% trans %}Proveedor{% endtrans %}
    </button>
    <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#modal_nuevo_banco">
        {% trans %}Nuevo{% endtrans %} {% trans %}Banco{% endtrans %}
    </button>
    <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#modal_nueva_area">
        {% trans %}Nueva{% endtrans %} {% trans %}Area{% endtrans %}
    </button>
</div>