<a class="btn btn-success" href="{{ path('contrato_new') }}">{% trans %}Adicionar{% endtrans %}</a>
<a class="btn btn-primary" href="#">{% trans %}Buscar{% endtrans %}</a>
<a class="btn btn-warning" href="#">{% trans %}Modificar{% endtrans %}</a>
<a class="btn btn-default border" href="{{ path('contrato_index') }}">{% trans %}Listar{% endtrans %}</a>

{#{% include 'contrato/buscar.html.twig' %}#}
