{% extends 'base.html.twig' %}

{% block title %}{% trans %}Modificar{% endtrans %} {% trans %}Contrato{% endtrans %}{% endblock %}

{% block body %}
    <div class="container small">
        <h5>{% trans %}Modificar{% endtrans %} {% trans %}Contrato{% endtrans %}</h5>

        {% include 'contrato/botones_adicionar.html.twig' %}
        {% include 'contrato/ventana_modal.html.twig' %}

        {% for message in app.flashes('notice') %}
            <div class="alert-info">
                {{ message |trans}}
            </div>
        {% endfor %}

        <br>

        {{ include ('contrato/formulario.html.twig') }}
        {{ include('contrato/_delete_form.html.twig') }}

        {#{ include('contrato/_form.html.twig') }#}
    </div>


{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/contrato.js') }}"></script>
{% endblock %}