{% extends 'base.html.twig' %}

{% block title %}{% trans %}Adicionar{% endtrans %} {% trans %}Nuevo{% endtrans %} {% trans %}Contrato{% endtrans %}{% endblock %}

{% block body %}
    <div class="container small">
        <h5>{% trans %}Adicionar{% endtrans %} {% trans %}Nuevo{% endtrans %} {% trans %}Contrato{% endtrans %}</h5>
        <div class="col-lg-12">
        	<button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#modal_nuevo_proveedor">
        		{% trans %}Nuevo{% endtrans %} {% trans %}Proveedor{% endtrans %}
        	</button>  
        	<button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#modal_nuevo_proveedor">
        		{% trans %}Nuevo{% endtrans %} {% trans %}Banco{% endtrans %}
        	</button> 
        	<button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#modal_nuevo_proveedor">
        		{% trans %}Nueva{% endtrans %} {% trans %}Area{% endtrans %}
        	</button> 
        </div>              

        <br>
        
        {% include 'contrato/formulario.html.twig' %}

        {#{ include('contrato/_form.html.twig') }#}
    </div>


{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/contrato.js') }}"></script>
{% endblock %}