{% extends 'base.html.twig' %}

{% block title %}{% trans %}Adicionar{% endtrans %} {% trans %}Nuevo{% endtrans %} {% trans %}Contrato{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Adicionar{% endtrans %} {% trans %}Nuevo{% endtrans %} {% trans %}Contrato{% endtrans %}</h1>

    {% include 'contrato/botones.html.twig' %}

    <br>
    <br>
    {% include 'contrato/formulario.html.twig' %}

    {#{ include('contrato/_form.html.twig') }#}

{% endblock %}