{% extends 'base.html.twig' %}

{% block title %}Pantalla Principal{% endblock %}

{% block body %}

<div>
    <h1 class="form form-control">✅ SISCOFAC est&aacute; activo</h1>
    <a class="btn btn-primary" href="#">Actualizar</a>
</div>
{% endblock %}
