<div id="modal_ayuda_inicio" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal_ayuda_inicioLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal_ayuda_inicioLabel">{% trans %}Ayuda{% endtrans %}</h5>
                <button id="btn_cerrar_modal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ render(controller(
                    'App\\Controller\\PrincipalController::new_modal'
                )) }}
            </div>
        </div>
    </div>
</div>