<div id="div_suplemento_comite_contratacion_botones">
    <a class="btn-sm btn-primary" href="{{ path('suplemento_comite_contratacion_new') }}">{% trans %}Adicionar{% endtrans %}</a>
    <button type="button" class="btn-sm btn-primary border" data-toggle="modal" data-target="#modal_modificar_suplemento_comite_contratacion">
        {% trans %}Modificar{% endtrans %}
    </button>
    <a class="btn-sm btn-primary" href="{{ path('suplemento_comite_contratacion_index') }}">{% trans %}Listar{% endtrans %}</a>
</div>