{% extends 'base.html.twig' %}

{% block title %}New Acuerdo{% endblock %}

{% block body %}
    <h1>Create new Acuerdo</h1>

    {{ include('acuerdo/_form.html.twig') }}

    <a href="{{ path('acuerdo_index') }}">back to list</a>
{% endblock %}