<div id="modalAyudaCorreoTextoContratoInhabilitado" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalAyudaCorreoTextoContratoInhabilitadoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAyudaCorreoTextoContratoInhabilitadoLabel">Ayuda</h5>
                <button id="btn_cerrar_modal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><b>Comodines</b></p>
                <p>
                   - Use el comodín <i>--identificador--</i> para especificar el identificador del contrato. <br>
                   - Use el comodín <i>--motivo--</i> para especificar el motivo de la inhabilitación del contrato.<br>
                   - Use el comodín <i>--aplicacion--</i> para especificar el nombre de la aplicación.
                </p>
                <p><b>Ejemplo</b></p>
                <p>
                    Cordiales saludos. <br>
                    Se le notifica que el contrato --identificador-- ha sido inhabilitado por el siguiente motivo: --motivo--.<br>
                    Atentamente, el administrador de --aplicacion--.
                </p>
                <button id="btn_cerrar_modal_1" type="button" class="btn btn-sm btn-primary" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">Entendido</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div id="modalAyudaCorreoTextoSaldoMinimo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalAyudaCorreoTextoSaldoMinimoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAyudaCorreoTextoSaldoMinimoLabel">Ayuda</h5>
                <button id="btn_cerrar_modal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><b>Comodines</b></p>
                <p>
                    - Use el comodín <i>--identificador--</i> para especificar el identificador del contrato. <br>
                    - Use el comodín <i>--saldo--</i> para especificar el saldo disponible del contrato.<br>
                    - Use el comodín <i>--moneda--</i> para especificar el tipo de moneda para el saldo disponible del contrato.<br>
                    - Use el comodín <i>--limite--</i> para especificar el limite de saldo establecido para enviar la notificación.<br>
                    - Use el comodín <i>--aplicacion--</i> para especificar el nombre de la aplicación.
                </p>
                <p><b>Ejemplo</b></p>
                <p>
                    Cordiales saludos. <br>
                    Se le notifica que el contrato --identificador-- cuenta con un saldo disponible de --saldo-- --moneda--.<br>
                    El límite mínimo establecido es de --limite-- --moneda--.<br>
                    Atentamente, el administrador de --aplicacion--.
                </p>
                <button id="btn_cerrar_modal_2" type="button" class="btn btn-sm btn-primary" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">Entendido</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div id="modalAyudaCorreoTextoTiempoMinimo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalAyudaCorreoTextoTiempoMinimoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAyudaCorreoTextoTiempoMinimoLabel">Ayuda</h5>
                <button id="btn_cerrar_modal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><b>Comodines</b></p>
                <p>
                    - Use el comodín <i>--identificador--</i> para especificar el identificador del contrato. <br>
                    - Use el comodín <i>--tiempo--</i> para especificar el tiempo mínimo para enviar la notificación.<br>
                    - Use el comodín <i>--fecha--</i> para especificar la fecha de finalización del contrato.<br>
                    - Use el comodín <i>--aplicacion--</i> para especificar el nombre de la aplicación.
                </p>
                <p><b>Ejemplo</b></p>
                <p>
                    Cordiales saludos. <br>
                    Se le notifica que el contrato --identificador-- cuenta con menos de --tiempo-- días para que llegue a su finalización cuya fecha es el --fecha--.<br>
                    Atentamente, el administrador de --aplicacion--.
                </p>
                <button id="btn_cerrar_modal_3" type="button" class="btn btn-sm btn-primary" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">Entendido</span>
                </button>
            </div>
        </div>
    </div>
</div>