<div id="div_informacion_disponibilidad_saldo">
    <label class="text-info">(Disponible en CUP: {{ contrato.valorContratoTotalCup }} / {{ contrato.saldoCup }})</label>
    <label class="text-success">(Disponible en CUC: {{ contrato.valorContratoTotalCuc }} / {{ contrato.saldoCuc }})</label>
</div>