{% extends 'base.html.twig' %}

{% block title %}New Suplemento{% endblock %}

{% block body %}
    <h1>Create new Suplemento</h1>

    {{ include('suplemento/_form.html.twig') }}

    <a href="{{ path('suplemento_index') }}">back to list</a>
{% endblock %}