{% extends 'base.html.twig' %}

{% block title %}{% trans %}Adicionar{% endtrans %} {% trans %}Nuevo{% endtrans %} {% trans %}Suplemento{% endtrans %}{% endblock %}

{% block body %}
    <div class="container small">
    <h5>{% trans %}Adicionar{% endtrans %} {% trans %}Nuevo{% endtrans %} {% trans %}Suplemento{% endtrans %}</h5>

    {% include 'contrato/botones_suplemento.html.twig' %}
    {% include 'contrato/ventana_modal.html.twig' %}

    {% for message in app.flashes('notice') %}
        <div class="alert-info">
            {{ message |trans}}
        </div>
    {% endfor %}


    <br>

    {{ include('suplemento/_form.html.twig') }}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/suplemento.js') }}"></script>
{% endblock %}