{% extends 'base_escritorio.html.twig' %}

{% block stylesheets %}
    <style type="text/css">
        form {
            display: inline-block;
        }
        .correccion_posicion_btn{
            position: relative;
            margin-left: -7em;
            -moz-margin-start: -9em;
        }
    </style>
{% endblock %}

{% block title %}{% trans %}Editar{% endtrans %} {% trans %}Tipo de Persona{% endtrans %}{% endblock %}

{% block  header %}
    {% trans %}Editar{% endtrans %} {% trans %}Tipo de Persona{% endtrans %}
{% endblock %}

{% block  breadscrum %}
    <div class="breadcrumb-item">{% trans %}Nomencladores{% endtrans %}</div>
    <div class="breadcrumb-item">{% trans %}Nomenclador{% endtrans %} {% trans %}Tipo de Persona{% endtrans %}</div>
    <div class="breadcrumb-item">{% trans %}Editar{% endtrans %} {% trans %}Tipo de Persona{% endtrans %}</div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="form-control">

            {% for message in app.flashes('notice') %}
                <div class="alert-info">
                    {{ message |trans}}
                </div>
            {% endfor %}
            <br>
            {{ include('nom_tipo_persona/_form.html.twig') }}
            {{ include('nom_tipo_persona/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}