<form class="correccion_posicion_btn" method="post" action="{{ path('nom_banco_delete', {'id': nom_banco.id}) }}" onsubmit="return confirm('{{ 'Usted desea eliminar este elemento'|trans }}');")>
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ nom_banco.id) }}">
    <button class="btn btn-sm btn-danger">{% trans %}Eliminar{% endtrans %}</button>
</form>