{% extends 'base_escritorio.html.twig' %}

{% block title %}{% trans %}Adicionar{% endtrans %} {% trans %}Usuario{% endtrans %}{% endblock %}

{% block  header %}
    {% trans %}Adicionar{% endtrans %} {% trans %}Usuario{% endtrans %}
{% endblock %}

{% block  breadscrum %}
    <div class="breadcrumb-item">{% trans %}Usuario{% endtrans %}</div>
    <div class="breadcrumb-item">{% trans %}Adicionar{% endtrans %} {% trans %}Usuario{% endtrans %}</div>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="form-control">

            {% for message in app.flashes('notice') %}
                <div class="alert-info">
                    {{ message |trans}}
                </div>
            {% endfor %}
            <br>
            {{ include('user/_form.html.twig') }}

        </div>
    </div>
{% endblock %}